<div class="ui main text container">
    <h1 class="ui header">Semantic UI Fixed Template</h1>
    {{#each words}}
        <h1>{{this.word}}</h1>
        <ul>
            {{#each this.definition}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/each}}
</div>